.buttonStyle {
  width: 152px !important;
}
body {
  background-image: url("img/background.jpg");
  background-position: center;
  background-size: cover;
}
.bg-data {
  background-color: floralwhite;
  border-radius: 20px;
}
